@model dynamic

@{
    ViewBag.Title = "AskToAssign";

}

<h2>Assign confirmation </h2>
<div>

    <h3 style="color: firebrick">@ViewBag.Message</h3>
</div>
<form action="AssignConfirmed">
   <input type="submit" value="Yes" class="btn btn-success"/>

</form>
<p><br /></p>
<form action="Assign">
    <input type="submit" value="No" class="btn btn-warning" />
</form>
