@{
    ViewBag.Title = "about";
}

<div class="jumbotron" id="teamHeadLine">
    <div class="bannerContent">
        <h2>We Are MVC-KING</h2>
    </div>


</div>


<br/>
<br/>
<br/>
<br/>

<div class="col-lg-3 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="~/Images/Ashraf.JPG" alt="" width="200" height="200">
    <h3 id="name">Md. Ashraf Ali</h3>
    <h4 id="designation">Project Manager</h4>
    <p>
        Chief System Analyst<br />
        Skills On: ASP.NET MVC, ASP.NET, C#, VB.NET, Oracle-DB, SQL-DB<br />
    Web Application, Windows Application, Software Development </p>
</div>
<div class="col-lg-3 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="~/Images/sraban (31)1.jpg" alt="" width="200" height="200">
    <h3 id="name">Nadimul Islam Bhuyan Sraban</h3>
    <h4 id="designation">Project Coordinator</h4>
    <p>Web Application And Software Development Using .NET And MVC</p>
</div>

<div class="col-lg-3 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="~/Images/rakib.jpg" alt="" width="200" height="200">
    <h3 id="name">Md. Rakib Hossain</h3>
    <h4 id="designation">Project Developer</h4>
    <p>Skills On: ASP.NET MVC, ASP.NET, C#, SQL-DB</p>
</div>

<div class="col-lg-3 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="~/Images/NOOR.jpg" alt="" width="200" height="200">
    <h3 id="name">Md. Noor Hossain Khan</h3>
    <h4 id="designation">Project Developer</h4>
    <p>Skills On: ASP.NET MVC, ASP.NET, C#, VB.NET, Oracle-DB, SQL-DB</p>
</div>
